<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" />
    <title>Hérisson 3.0</title>
    <script>global = globalThis</script>
    {{!-- <meta http-equiv="Content-Security-Policy" content="default-src 'self'"> --}}
</head>

<body>
    <div id="root"></div>
</body>

</html>